body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.parent {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coming-soon {
    height: 40%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px) saturate(181%);
    -webkit-backdrop-filter: blur(7px) saturate(181%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
    color: white;
    font-weight: bolder;
}


footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}